.form{
    display: flex;
    flex-direction: row;
}

#display{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    
    
}

#cart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
}